h1, .monlogo {
    font-family: 'Courgette', cursive;
}

.mybackground {
    background-color: rgb(182, 170, 187);
}

.bg-image {
    background: url(assets/img/drone4.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
}

.listdrop {
    display: flex;
    flex-direction: column;
}

.myEmail:hover, i:hover, .nav-link:hover, .myTel:hover {
    color: rgb(152, 101, 174);
}

.dropdown-toggle:hover {
    border-left-color: #0d6efd;
}

/* --------------------------------- CONTACT -------------------------------- */

.asterisque {
    color: rgb(194, 40, 53);
}

textarea {
    resize: none;
}

.myEmail, .myTel {
    text-decoration: none;
    color: #000;
}

.listSocial {
    list-style-type: none;
}

/* .fixed-bottom {
    z-index: auto;
} */

/* .gene {
    z-index: 1;
} */

@media screen and (max-width:768px) {
    .slideBar  {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .social  {
        display: none;
    }
}

/* linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),  */

/* .about {
    align-items: center;
} */

/* .navSocial {
    position:absolutefixed-bottom
} */



/* .nav-link a:hover {
    border-bottom-color: #0d6efd;
} */
