h1, .monlogo {
    font-family: 'Courgette', cursive;
}

.mybackground {
    background-color: rgb(182, 170, 187);
}

.bg-image {
    background: url(assets/img/drone.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
}

.listdrop {
    display: flex;
    flex-direction: column;
}

.myEmail:hover, i:hover, .nav-link:hover, .myTel:hover {
    color: rgb(152, 101, 174);
}

.dropdown-toggle:hover {
    border-left-color: #0d6efd;
    border-right-color: #0d6efd;
}

.asterisque {
    color: rgb(194, 40, 53);
}

textarea {
    resize: none;
}

.myEmail, .myTel {
    text-decoration: none;
    color: #000;
}

.logoSocial:hover {
    background-color: rgb(152, 101, 174);
}

@media screen and (max-width:768px) {
    /* .slideBar  {
        display: none;
    } */
    .dropdown-toggle:hover {
        border-color: #fff;
    }
}

/* Pour la SLIDEBAR qui ne fonctionne pas encore
@media screen and (min-width:768px) {
    .social, .separationSocial {
        display: none;
        }
} */

/* @media screen and(max-width:992px) {
    .separation {
        visibility: hidden;
    }
} */

/* @media screen and (max-width:992px) {
    .border-end{
        border-right: none;
    } */
    
    /* .border-end {
        border: none;
    } */

/* .navSocial {
    position:absolutefixed-bottom
} */

/* .nav-link a:hover {
    border-bottom-color: #0d6efd;
} */
